.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla verticalmente */
    background-color: #fffbe6;
  }
  
  canvas {
    border: 2px solid #87ceeb;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: crosshair; /* Indicador de dibujo */
  }
  