.footer {
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    width: 100%;
    background-color: #87ceeb; /* Azul celeste, ajustable */
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un mejor diseño */
  }
  