.navbar {
    display: flex; /* Alinear los enlaces horizontalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    margin: 0 10px; /* Espaciado horizontal entre enlaces */
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: #87ceeb;
    text-decoration: none; /* Quitar subrayado */
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #63a3d9; /* Cambiar color al pasar el mouse */
  }
  